body {
  margin: 0; /* Remove the default margin of the body element */
  padding: 0; /* Remove the default padding of the body element */
}
.container {
  background: url('cover.jpeg');
  width: 100%;
  height: 100%;
  background-size: cover; /* Scale the image to the largest size possible while maintaining the aspect ratio and covering the entire element */
  background-position: center 10%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
.main-container {
  height: 100vh; /* Set the height of the container element to the full height of the viewport */
  background: linear-gradient(to bottom, #371145, rgba(55, 17, 69, 0.05)); /* Set the solid part of the gradient as the background of the container element */
  display: flex; /* Make the container element a flex container */
  align-items: center; /* Align the items inside the container element vertically */
  justify-content: center; /* Center the items inside the container element horizontally */
  flex-direction: column; /* Make the items inside the container element stack vertically */
}



.head {
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  align-items: flex-start;
}

img {
  margin: 0 15px;
 
}

img.ttl {
  order: 2;
  width: 230px;
  margin-top: 10px;
}

img.navi {
  width: 25px;
  margin-top: 20px;
}

@media (max-width: 600px) {

  /* Informacion */

  body {
    overflow-x: hidden;
  }
  .rei {
    width: 35px!important;
    height: 35px!important;
    transform: translate(-130px, 0px);
  }

  .ft-credits {
    left: 41px!important;
    font-size: 30px!important;
    top: 300px!important;
  }
  .ft-what {
    left: 41px!important;
    font-size: 30px!important;
  }

  .ft-par {
    top: 129px!important;
    left: 45px!important;
    font-size: 11px!important;
    width: 350px!important;
  }

  .ft-par2 {
    top: 350px!important;
    left: 45px!important;
    font-size: 11px!important;
    width: 350px!important;
  }

  .dot {
    left: -8px!important;
    top: 410px!important;
    font-size: 13px!important;
  }

  .dot-image {
    width: 40px!important;
    height: 40px!important;
  }

  .dot2 {
    left: -43px!important;
    top: 500px!important;
    font-size: 13px!important;
  }

  footer {
    height: 590px!important;
  }

  
  .dot-image2 {
    width: 40px!important;
    height: 40px!important;
  }

  ul {
    left: 45px!important;
    top: 250px!important;
  }
  .ft-ttl {
    font-size: 20px;
    transform: translate(-155px, 11px);
  }
  img.ttl {
    width: 145px;
    margin-top: 15px;
  }

  img.navi {
    width: 20px;
  }
  
  .container {
    background: url('lol.jpg');
    width: 100%;
    height: 100%;
    background-size: cover; /* Scale the image to the largest size possible while maintaining the aspect ratio and covering the entire element */
    background-position: center 10%; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
  }
  

  .lists {
    font-size: 14px; /* Increase the font size for the list items */
  }

}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 20vh;
}

header h1 {
  margin: 0;
  font-family: Futura, sans-serif;
  color: #791a9c;
  text-align: center;
}

main {
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label, input[type="text"] {
  color: #791a9c;
}

button[type="submit"] {
  background-color: #791a9c;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

footer {
  background-color: #38014d;
  color: #791a9c;
  height: 800px;
  width: 100%;
  
  position: absolute;
  
  text-align: center;
}

.rei {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  border: 3px solid rgb(111, 4, 160);
  left: 150px;
}

.ft-ttl {
  position: absolute;
  top: 0;
  left: 250px;
  
  color: rgb(182, 57, 255);
}

.ft-header {
  position: absolute;
  top: 30px;
  font-family: Inter;
  color: rgb(113, 8, 161);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #4f026d;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(113, 38, 148);
  border-radius: 10px;
}

.ft-header {
  max-width: 30px;
}

.ft-what {
  position:absolute;
  top: 80px;
  color: rgb(182, 57, 255);
  left: 170px;
  font-size: 40px;
}

.ft-par {
  position:absolute;
  top: 145px;
  left: 176px;
  font-size: 12px;
  width: 700px;
  color:white;
  text-align: left;
  
}

ul {
  list-style: none;
  padding: 0;
  position: relative;
  left: 175px;
  top: 230px;
  text-align: left;
  width: 400px;
}
li {
  color:rgb(182, 57, 255);
  padding-left: 1.3em;
}
li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}


.ft-credits {
  color: rgb(182, 57, 255);
  position:absolute;
  top: 290px;
  left: 170px;
  font-size: 40px;
}

.ft-par2 {
  position:absolute;
  top: 350px;
  left: 176px;
  font-size: 20px;
  width: 800px;
  color:white;
  text-align: left;
  
}


.dot {
  color: rgb(138, 11, 197); 
  top: 430px;
  left: 145px;
  width: 400px;
  position: absolute;
  display: list-item;
  list-style-type: none;
  margin-left: -25px; /* Shift the element to the left to make room for the image */
}

.dot-image {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgb(138, 11, 197);
  border-radius: 50%;
  background-image: url();
  background-clip: padding-box;
  background-size: cover;
  vertical-align: middle;
  margin-right: 10px;
}


.dot2 {
  color: rgb(103, 3, 150);
  top: 610px;
  font-family: 'Inter';
  left: 102px;
  width: 400px;
  position: absolute;
  display: list-item;
  list-style-type: none;
  margin-left: -25px; /* Shift the element to the left to make room for the image */
}

.dot-image2 {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgb(103, 3, 150);
  border-radius: 50%;
  background-image: url();
  background-clip: padding-box;
  background-size: cover;
  vertical-align: middle;
  margin-right: 10px;
} 

.tagx {
  font-family: Inter;
  color: rgb(166, 7, 214);
}


.inp {
  color: black!important;
  border-radius: 30px;
  border: none;
  outline-color: #791a9c!important;
  width: 300px;
  height: 30px;
}



.btns {
  border-radius: 30px;
  font-family: Inter;
}